<body>
  <form class="form" action="" method="get" class="sign-up-form">
    <h2>SIGN UP YOU FILTHY ANIMAL</h2>
    <div class="input-container">
      <div class="name-container">
        <div class="input-wrapper">
          <label for="first">First Name (optional)</label>
          <input type="text" name="first" id="first" />
        </div>
        <div class="input-wrapper">
          <label for="last">Last Name (optional)</label>
          <input type="text" name="last" id="last" />
        </div>
      </div>
      <div class="username-container">
        <div class="input-wrapper">
          <label for="username">Username*</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password*</label>
          <input type="password" name="password" id="password" />
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit" class="sign-up-button">Sign Up</button>
    </div>
  </form>
</body>
