<header>
  <a href="/">
    <div class="logo-container">
      <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_eeejiiox.json" speed="2" style="width: 6rem; height: 10rem;"  loop  autoplay></lottie-player>
      Animals</br>Only
    </div>
  </a>
  <h1 class="no-humans">Humans</h1>
  <nav>
    <a href="/log-in" class="log-in-link">Log In</a>
    <a href="/sign-up" class="sign-up-link">Sign Up</a>
  </nav>
</header>